html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: small;
  color: #183c50;
  overscroll-behavior: none;
  }
  .bubble {
    display:none;
    z-index: 5;
    position: fixed;
    bottom: 1%;
    left: 1%;
    background-color: #bdc4ff ;
    border: 1px solid rgba(118, 174, 241, 1);
    padding: 1%;
    max-width: 93%;
    max-height: 50%;
    overflow-y: visible;
    overflow-x: auto;
    word-break: break-word;
    overflow-wrap: break-word;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #chats {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    overflow-y: visible;
    }
    
    .span_user_msg_sender {
      font-size: small;
      float: left;
    opacity: 0.5;
    }
    .span_date_msg_sender {
      font-size: small;
      float: right;
    opacity: 0.5;
    }
    .span_user_msg_receiver {
      font-size: small;
      float: right;
    opacity: 0.5;
    }
    .span_date_msg_receiver {
      font-size: small;
      float: left;
    opacity: 0.5;
    }
  .replay{
    display:flex;
justify-content: center;
filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
  }
  .replay:active{
    display:flex;
justify-content: center;
filter: blur(1px);
  }
  .text{
max-height: 75vh;
overflow-y: visible;
overflow-x: auto;
word-break: break-word;
overflow-wrap: break-word;
  }
.msgbutton-row {
display: none;
justify-content: center; 
align-items: center;
}
.msgbutton {
font: sans-serif;
font-size: large;
padding: 1%;
background: #ffffff77;
border: 1px solid #ffffffbb;
border-right-width: 0;
border-radius: 0;
box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.msgbutton:active {
color: #ffffffaa;
background: #00000055;
cursor: pointer;
}


.msgbutton-row .msgbutton:first-child {
border-radius: 16px 0 0 16px;
}

.msgbutton-row .msgbutton:last-child {
border-right-width: 1px;
border-radius: 0 16px 16px 0;
}

.msginfolist-column {
flex-direction: column;
display: none;
justify-content: center; 
align-items: center;
}

.msginfolist {
  font: sans-serif;
  font-size: small;
  width: 80%;
  padding: 1%;
  background: #ffffff77;
  border-right-width: 0;
  border-radius: 0;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  }  
  .msginfolist-column .msginfolist:first-child {
  border-radius: 16px 16px 0 0;
  }
  
  .msginfolist-column .msginfolist:last-child {
  border-right-width: 1px;
  border-radius: 0 0 16px 16px;
  }
  .circular-img
				{
					display:inline-block;
					border-radius:50%;
					height:25px;
					width:25px;
				}
  .msg_cc {
flex: 1;
background-color: rgb(230, 255, 224);
align-self: center;
text-align: center;
padding: 1%;
min-width: 50%;
max-width: 90%;
overflow-y: visible;
overflow-x: auto;
word-break: break-word;
overflow-wrap: break-word;border-top-right-radius: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-bottom: 2%;
font-size: smaller;
box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.msg_sender {
background-color: #b8bfff;
border: 1px solid rgb(133, 180, 238);
align-self:flex-end;
padding: 1%;
min-width: 10%;
max-width: 85%;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 0px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 2%;
box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.msg_receiver {
background-color: rgb(157, 201, 255);
border: 1px solid #bdc4ff;

align-self:flex-start;
padding: 1%;
min-width: 10%;
max-width: 85%;
border-top-right-radius: 15px;
border-top-left-radius: 0px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 2%;
box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}