@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container1{
  width: 90%;
  height: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 60px;
  padding: 5%;
}
.no-style-link {
  color: inherit;
  text-decoration: none;
}
.no-style-link, .no-style-link:hover {
  color: inherit; /* Inherit the text color from the parent element */
  text-decoration: none; /* Remove underline at all times */
}


.contentLeft,
.contentRight{
    width: 100%;
}
.contentLeft .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.contentLeft .row .imgWrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img{
    transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.contentRight .content h4{
    font-size: 22px;
    font-weight: 400;
    color: #dc3545
}
.contentRight .content h2{
    font-size: 40px;
    color: #28a745;
}
#pricing{
  font-size: 40px;
  color: #17a2b8;
}
.contentRight .content p{
    font-size: 16px;
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 30px;
    color: black;
    background: #ffc107;
    border-radius: 8px;
    user-select: none;
}

.c-pointer {
  cursor: pointer;
}

.no-scroll{
  overflow: hidden;
  background-color: #2f3e4e;
}

.fz-2 {
  font-size: 2em;
}
.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.h-100 {
  height: 100vh !important;
}

.lobster{
  font-family: lobster, cursive;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}

.ls-5{
  letter-spacing: 5px;
}
.ls-4{
  letter-spacing: 4px;
}

a:hover {
  text-decoration: none;
}

body{
  overflow-x: hidden;
  background: floralwhite;
}
html{

  background: floralwhite;
}

#main-warapper.left {
  left: 20%;
  background-color: #2f3e4e;
}
#main-warapper {
  padding: 2%;
  position: absolute;
  left: 0;
  transition: all 0.4s;
  width: 100%;
  top: 0;
}
#image-header {
  background: floralwhite;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
}
#image-header .layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.readmore{
  font-size: small;
}

.container-fluid{
background: floralwhite;
}
.center {
  display: flex;
  flex-direction: row; /* Ensures items are laid out in a horizontal line */
  flex-wrap: wrap; /* Allows cards to wrap onto the next line when space runs out */
  justify-content: center; /* Centers cards in the container horizontally */
  align-items: flex-start; /* Aligns items to the start of the cross axis, which is vertical in this case */
  padding: 10px; /* Adds space inside the container */
}

.card {
  width: 450px; /* Fixed width for each card */
  min-height: 250px; /* Minimum height for each card */
  background: linear-gradient(#f8f8f8, #fff); /* Gradient background */
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4); /* Shadow for 3D effect */
  border-radius: 6px; /* Rounded corners */
  margin: 10px; /* Space between cards */
  position: relative; /* Needed for positioning inner elements absolutely */
  overflow: hidden; /* Hides anything outside the border */
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: lightgreen;
}

.card.blue .additional {
  background: dodgerblue;
}

.card.yellow .additional {
  background: #FCEEB5;
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: floralwhite;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card.blue .additional .more-info h1 {
  color: lightblue;
}

.card.yellow .additional .more-info h1 {
  color: orange;
}
.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card.blue .additional .coords {
  color: lightblue;
}

.card.yellow .additional .coords {
  color: black;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card.blue .additional .stats {
  color: lightblue;
}
.card.yellow .additional .stats {
  color: orange;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}



#logo {
  font-size: 6em;
}
#contact-us{
  background-image: url('http://kapishsolutions.com/wp-content/uploads/2013/10/contact-us-banner.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 230px;
  position: relative;
}

#contact-us .layer{
 
  background: floralwhite;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#contact-us p,#contact-us h2,#contact-us button{
  z-index: 1;
}
footer{
  background: floralwhite;
}
footer #copyright {
  background-image: url('sa.png');
  background-color: #343434;
  background-size:contain;
  background-repeat: no-repeat;
}

footer i{
  font-size: 22px;
}





::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: floralwhite; 
}
 
::-webkit-scrollbar-thumb {
  background: lightcoral; 
}

@media(max-width: 768px){
  .container1{
      grid-template-columns: 1fr;
  }
  .contentLeft .row{
      grid-template-columns: repeat(2, 1fr);
  }
  .contentLeft .row .imgWrapper{
      height: 150px;
  }
  .contentRight .content h4{
      font-size: 18px;
  }
  .contentRight .content h2{
      font-size: 30px;
  }
}
